@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Serif+Display:ital@0;1&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3fc1c9;
  --pink: #fc5185;
  --light: #f5f5f5;
  --dark: #364f6b;
}

body {
  min-height: 100vh;
  font-family: "DM Serif Display", serif;
  background-color: var(--pink);
  color: var(--light);
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  cursor: crosshair;
  margin: 1rem;
  font-size: 4rem;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.title:hover {
  color: var(--blue);
  letter-spacing: 0.1rem;
  font-size: 4.5rem;
}

.btn {
  cursor: pointer;
  outline: none;
  margin: 1rem;
  padding: 1rem;
  min-width: 200px;
  min-height: 200px;
  border-radius: 3rem;
  font-size: 4rem;
  border: 0.25rem solid var(--blue);
  background-color: var(--light);
  transition: 0.5s ease;
}

.btn:hover {
  font-size: 6rem;
  background-color: var(--blue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.rules-container {
  padding: 1rem;
  width: 80%;
  border-radius: 0.5rem;
  border: 0.25rem solid var(--blue);
  background-color: var(--light);
  color: var(--dark);
  transition: 0.5s ease;
}

.rules-container ul {
  list-style-type: none;
}

.rules-container p {
  margin: 0.25rem 0;
}

@media (min-width: 760px) {
  .rules-container {
    width: 60%;
  }
}

.score-container {
  cursor: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  font-size: 1.25rem;
}

.score-container span,
strong {
  margin: 0.5rem;
}

.score {
  font-weight: 500;
}

.subtitle {
  font-size: 2rem;
  font-style: italic;
}

.results-container {
  font-size: 1.25rem;
}

#winner-msg {
  margin-top: 25px;
}

#reset-game-btn {
  display: none;
  font-family: "DM Serif Display", serif;
  color: var(--dark);
  min-width: 500px;
  min-height: 100px;
  font-size: 2rem;
  padding: 1rem 2rem;
}
